section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  background: lightyellow;
  height: 100%;
}

.practice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 1.4em;
  color: indianred;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
