section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  background: lightyellow;
  height: 100%;
}

.practice {
  display: flex;
  justify-content: center;
  align-items: center;
}
