.form-style {
  flex-direction: center;
}

/* .input {
  text-align: right;
}

.label {
  flex-direction: column;
  text-align: left;
}

.btn-register {
  justify-content: center;
}

.account-link {
  justify-content: center;
  padding-top: 10px;
} */


