@import url("https://fonts.googleapis.com/css?family=Lustria");

h1 {
  justify-content: center;
  letter-spacing: 2px;
  font-family: "Lustria";
  font-weight: 150px;
  margin-bottom: 0px;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

span {
  display: grid;
  place-items: center;
}
